@import "/src/styles/constants";

.modal {
  &__genres-picker {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    padding: 0 10px;
    background: $medium-grey;
    z-index: 1;
    border: 1px solid $primary;
    border-radius: 5px;

    @media (min-width: $tablet-width) {
      width: 300px;
    }

    .modal__close {
      top: 3px;
      right: 3px;
    }
  }

  &__genres-checkbox {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    color: $light;

    input {
      margin-right: 3px;
    }
  }
}
