@import "/src/styles/constants/index";
@import "/src/styles/mixins/font-size";

.movie-details {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 50px 30px 10px 30px;
  background: $dark;
  color: $white;
  opacity: 0.9;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  &__image {
    height: 300px;
    margin-bottom: 15px;

    &-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    color: $white;
  }

  &__genre {
    color: $light;
    margin-bottom: 20px;
  }

  &__year-and-runtime {
    color: $primary;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__year {
    margin-right: 30px;
  }

  &__search-img {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 25px;
    cursor: pointer;
    filter: invert(46%) sepia(90%) saturate(3472%) hue-rotate(328deg) brightness(100%) contrast(93%);
  }
}
