@import "/src/styles/constants/index";
@import "/src/styles/mixins/font-size";

.movie-details {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 50px 30px 10px 30px;
  background: $dark;
  color: $white;
  opacity: 0.9;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  &__image {
    width: 200px;
    height: 300px;
    background: $light-grey;
    margin-bottom: 15px;

    &-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    color: $white;
  }

  &__rating {
    display: inline-flex;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    border: 1px solid $light;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: lightgreen;
    font-size: 16px;
  }

  &__genres {
    color: $light;
    margin-bottom: 20px;
  }

  &__year-and-runtime {
    color: $primary;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__year {
    margin-right: 30px;
  }

  &__search-img {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    filter: invert(46%) sepia(90%) saturate(3472%) hue-rotate(328deg) brightness(100%) contrast(93%);
  }
}
